<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

<entry key="selectSchedule">

SELECT 
		 WORKING
		,SCHEDULE_TIME
		,SCHEDULE_WEEK
FROM 
		SCHEDULE
JOIN DOCTOR USING( DOCTOR_NO)
WHERE 
		 DEPT_NAME = ?


</entry>

<entry key="selectDoctor">

SELECT 
     DOCTOR_NO
     ,USER_NO
     ,HIRE_DATE
     ,DOCTOR_NAME
     ,LICENCE_NO
     ,DEPT_NAME
FROM
     DOCTOR
WHERE
     DEPT_NAME = ?


</entry>

<entry key="">





</entry>



	<!-- (상우) 의사 이름으로 검색 -->
	<entry key="selectByName">
	
	
	SELECT 
					DOCTOR_NO
				, DOCTOR_NAME
				, LICENCE_NO
				, DEPT_NAME
				, HIRE_DATE
				, USER_SSN
				, PHONE
				, ADDRESS
	FROM 
				DOCTOR
	JOIN  MEMBER USING (USER_NO)
	WHERE 
				DOCTOR_NAME=?
	
	</entry>


	<!-- (상우) 의사 사번으로 검색 -->
	<entry key="selectByDNO">
	
	
	SELECT 
					DOCTOR_NO
				, DOCTOR_NAME
				, LICENCE_NO
				, DEPT_NAME
				, HIRE_DATE
				, USER_SSN
				, PHONE
				, ADDRESS
	FROM 
				DOCTOR
	JOIN  MEMBER USING (USER_NO)
	WHERE 
				DOCTOR_NO=?
	
	</entry>
	

	<!-- (상우) 의사 진료과로 검색 -->
	<entry key="selectByDept">
	
	SELECT 
					DOCTOR_NO
				, DOCTOR_NAME
				, LICENCE_NO
				, DEPT_NAME
				, HIRE_DATE
				, USER_SSN
				, PHONE
				, ADDRESS
	FROM 
				DOCTOR
	JOIN  MEMBER USING (USER_NO)
	
	</entry>


</properties>


