<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

<entry key="selectSchedule">

SELECT 
		 WORKING
		,SCHEDULE_TIME
		,SCHEDULE_WEEK
FROM 
		SCHEDULE
JOIN DOCTOR USING( DOCTOR_NO)
WHERE 
		 DEPT_NAME = ?


</entry>

<entry key="selectDoctor">

SELECT 
     DOCTOR_NO
     ,USER_NO
     ,HIRE_DATE
     ,DOCTOR_NAME
     ,LICENCE_NO
     ,DEPT_NAME
FROM
     DOCTOR
WHERE
     DEPT_NAME = ?


</entry>

<entry key="doctorScheduleUpdate">

UPDATE SCHEDULE
SET WORKING = ?
WHERE 
     DOCTOR_NO = ?
AND SCHEDULE_WEEK = ?
AND SCHEDULE_TIME = ?



</entry>



	<!-- (상우) 의사 이름으로 검색 -->
	<entry key="selectByName">
	
	
	SELECT 
					DOCTOR_NO
				, DOCTOR_NAME
				, LICENCE_NO
				, DEPT_NAME
				, HIRE_DATE
				, USER_SSN
				, PHONE
				, ADDRESS
	FROM 
				DOCTOR
	JOIN  MEMBER USING (USER_NO)
	WHERE 
				DOCTOR_NAME=?
	
	</entry>


	<!-- (상우) 의사 사번으로 검색 -->
	<entry key="selectByDNO">
	
	
	SELECT 
					DOCTOR_NO
				, DOCTOR_NAME
				, LICENCE_NO
				, DEPT_NAME
				, HIRE_DATE
				, USER_SSN
				, PHONE
				, ADDRESS
	FROM 
				DOCTOR
	JOIN  MEMBER USING (USER_NO)
	WHERE 
				DOCTOR_NO=?
	
	</entry>
	

	<!-- (상우) 의사 진료과로 검색 -->
	<entry key="selectByDept">
	
	SELECT 
					DOCTOR_NO
				, DOCTOR_NAME
				, LICENCE_NO
				, DEPT_NAME
				, HIRE_DATE
				, USER_SSN
				, PHONE
				, ADDRESS
	FROM 
				DOCTOR
	JOIN  MEMBER USING (USER_NO)
	
	</entry>
	

	<!-- (상우) 의사 계정 추가 (1/3) 회원 테이블 -->
	<entry key="insertToMember">
	
	INSERT 
		INTO MEMBER 
		(
				 USER_NO
			 , USER_ID
			 , USER_PWD
			 , USER_NAME
			 , PHONE
			 , EMAIL
			 , ADDRESS
			 , ENROLL_DATE
			 , USER_TYPE
			 , USER_SSN
			 , CALLBACK_YN
			 , RESIGN_YN
			 , USER_DATE
			 , USER_GENDER
			 , REPRESENTATIVE
		)
	VALUES 
	(
				 TO_CHAR(SYSDATE, 'YYMMDD') || LPAD(SEQ_UNO.NEXTVAL, 3, '0')
				 ,?
				 ,?
				 ,?
				 ,?
				 ,?
				 ,?
				 ,SYSDATE
				 ,'D'
				 ,?
				 ,'N'
				 ,'N'
				 ,?
				 ,?
				 ,NULL
  )

	</entry>
	
	
	<!-- (상우) 의사 계정 추가 (2/3) 의사 테이블 -->
	<entry key="insertToDoctor">
	
	INSERT 
		INTO DOCTOR 
		(
				 DOCTOR_NO
			 , USER_NO
			 , HIRE_DATE
			 , DOCTOR_NAME
			 , LICENCE_NO
			 , DEPT_NAME
		)
	VALUES 
	(
				 'vp' || SEQ_DON.NEXTVAL
				 ,(SELECT USER_NO
	           FROM MEMBER
	          WHERE USER_SSN=?)
	       ,SYSDATE
	       ,?
	       ,?
	       ,?
  )

	
	</entry>
	
	
	<!-- (상우) 의사 계정 추가 (3/3) 스케쥴 테이블 -->
	<entry key="insertToSchedule">
	
	INSERT 
		INTO SCHEDULE 
		(
				 DOCTOR_NO
			 , WORKING
			 , SCHEDULE_TIME
			 , SCHEDULE_WEEK
		)
	VALUES 
	(
				 (SELECT DOCTOR_NO
	          FROM DOCTOR
	         WHERE LICENCE_NO=?)
	     , 'N'
	     , ?
	     , ?
  )

	
	</entry>
	
	<entry key="shcedulePageSelect">
	
	SELECT 
		 WORKING
		,SCHEDULE_TIME
		,SCHEDULE_WEEK
FROM 
		SCHEDULE
WHERE 
     DOCTOR_NO = ?
	
	
	</entry>
	
	
	
	
	
	
	
</properties>


