<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

<!-- 의료진소개페이지 일정 조회 -->
<entry key="selectSchedule">

SELECT 
		 WORKING
		,SCHEDULE_TIME
		,SCHEDULE_WEEK
FROM 
		SCHEDULE
JOIN DOCTOR USING( DOCTOR_NO)
WHERE 
		 DEPT_NAME = ?


</entry>


<entry key="selectDoctor">

SELECT 
     DOCTOR_NO
     ,USER_NO
     ,HIRE_DATE
     ,DOCTOR_NAME
     ,LICENCE_NO
     ,DEPT_NAME
FROM
     DOCTOR
WHERE
     DEPT_NAME = ?


</entry>


<!-- 의료진 일정 업데이트 -->
<entry key="doctorScheduleUpdate">

UPDATE SCHEDULE
SET WORKING = ?
WHERE 
     DOCTOR_NO = ?
AND SCHEDULE_WEEK = ?
AND SCHEDULE_TIME = ?



</entry>


	

	<!-- (상우) 의사 계정 추가 (1/3) 회원 테이블 -->
	<entry key="insertToMember">
	
	INSERT 
		INTO MEMBER 
		(
				 USER_NO
			 , USER_ID
			 , USER_PWD
			 , USER_NAME
			 , PHONE
			 , EMAIL
			 , ADDRESS
			 , ENROLL_DATE
			 , USER_TYPE
			 , USER_SSN
			 , CALLBACK_YN
			 , RESIGN_YN
			 , USER_DATE
			 , USER_GENDER
			 , REPRESENTATIVE
		)
	VALUES 
	(
				 TO_CHAR(SYSDATE, 'YYMMDD') || LPAD(SEQ_UNO.NEXTVAL, 3, '0')
				 ,?
				 ,?
				 ,?
				 ,?
				 ,?
				 ,?
				 ,SYSDATE
				 ,'D'
				 ,?
				 ,'N'
				 ,'N'
				 ,?
				 ,?
				 ,NULL
  )

	</entry>
	
	
	<!-- (상우) 의사 계정 추가 (2/3) 의사 테이블 -->
	<entry key="insertToDoctor">
	
	INSERT 
		INTO DOCTOR 
		(
				 DOCTOR_NO
			 , USER_NO
			 , HIRE_DATE
			 , DOCTOR_NAME
			 , LICENCE_NO
			 , DEPT_NAME
		)
	VALUES 
	(
				 'vp' || SEQ_DON.NEXTVAL
				 ,(SELECT USER_NO
	           FROM MEMBER
	          WHERE USER_SSN=?)
	       ,SYSDATE
	       ,?
	       ,?
	       ,?
  )
	
	</entry>
	
	
	<!-- (상우) 의사 계정 추가 (3/3) 스케쥴 테이블 -->
	<entry key="insertToSchedule">
	
	INSERT 
		INTO SCHEDULE 
		(
				 DOCTOR_NO
			 , WORKING
			 , SCHEDULE_TIME
			 , SCHEDULE_WEEK
		)
	VALUES 
	(
				 (SELECT DOCTOR_NO
	          FROM DOCTOR
	         WHERE LICENCE_NO=?)
	     , 'N'
	     , ?
	     , ?
  )

	</entry>
	
	<entry key="schedulePageSelect">
	
	SELECT 
		 WORKING
		,SCHEDULE_TIME
		,SCHEDULE_WEEK
FROM 
		SCHEDULE
WHERE 
     DOCTOR_NO = ?
	
	
	</entry>
	
	
	
	
	<!-- (상우) 의사 계정 수정 (1/2) doctor 테이블 -->
	<entry key="updateDoctor">
	
	UPDATE 
					DOCTOR
		 SET			
					DOCTOR_NAME = ?
				, LICENCE_NO = ?
				, DEPT_NAME = ?
				, HIRE_DATE = ?
	 WHERE			
					LICENCE_NO = ?
					
	</entry>
	
	
	<!-- (상우) 의사 계정 수정 (2/2) member 테이블 -->
	<entry key="updateMember">
	
	UPDATE 
					MEMBER
		 SET			
					USER_NAME = ?
				, USER_SSN = ?
				, ADDRESS = ?
				, PHONE = ?
	 WHERE			
					USER_SSN = ?
					
	</entry>
	
	
	
	<!-- (상우) 의사 계정 삭제 (1/2) doctor 테이블 -->
	<entry key="deleteDoctor1">
	
	DELETE 
		FROM	
					DOCTOR
	 WHERE
	        USER_NO IN (SELECT USER_NO 
	        						  FROM MEMBER 
	        						 WHERE USER_SSN IN (
	        			
	</entry>
	
	
	
	<!-- (상우) 의사 계정 삭제 (2/2) member 테이블 -->
	<entry key="deleteDoctor2">
	
	DELETE 
		FROM	
					MEMBER
	 WHERE
	        USER_SSN IN (
	        			
	</entry>
	
	
	<!-- 증명서리스트 페이징 -->
<entry key="documentSelect">
	
SELECT *
FROM(
	  SELECT ROW_NUMBER() OVER(ORDER BY M.USER_NO DESC) AS RNUM
				 , M.USER_NO AS USER_NO
			     , M.USER_NAME AS USER_NAME
			     , RPAD(SUBSTR(M.USER_SSN,0,8),14,'*') AS USER_SSN
			     , MR.DEPT_NAME AS DEPT_NAME
			     , M.PHONE AS PHONE
			     , MR.CARE_NO AS CARE_NO
			     
			     
			  FROM DOCUMENT D
			  
			  JOIN MRECORDS MR ON MR.CARE_NO = D.CARE_NO
			  JOIN MEMBER M ON MR.USER_NO = M.USER_NO
			 WHERE DOCTOR_NO = ?
			 AND DOC_CHECK = 'R'
			 AND DOC_TYPE = ?
		)
WHERE RNUM BETWEEN ? AND ?		
	
</entry>



<entry key="selectDocumentListCount">

SELECT COUNT(*) AS COUNT
  FROM DOCUMENT D
  JOIN MRECORDS MR ON MR.CARE_NO = D.CARE_NO
  JOIN MEMBER M ON MR.USER_NO = M.USER_NO
 WHERE DOCTOR_NO = ?
 AND DOC_CHECK = 'R'
 AND DOC_TYPE = ?

</entry>



	<!-- (상우) 현재 전체 의사 이름, 진료과 조회 -->
	<entry key="selectDoctorList">
	
	SELECT DOCTOR_NAME
			 , DEPT_NAME
	  FROM DOCTOR
	        			
	</entry>
	
	
	
	<!-- 진료기록 조회(진단서,진료확인서) -->
	<entry key="diagnosisSelectFile">
	
	SELECT 
	   M.USER_NAME AS USER_NAME
      ,RPAD(SUBSTR(M.USER_SSN,0,8),14,'*') AS USER_SSN
      ,M.ADDRESS AS ADDRESS
      ,MR.SYMPTOMS AS SYMPTOMS
      ,MR.OPINION  AS OPINION
      ,MR.DIAGNOSIS_NAME AS DIAGNOSIS_NAME
      ,MR.TREATMENT_CONTENT AS TREATMENT_CONTENT
      ,MR.TREATMENT_DATE
      ,D.LICENCE_NO AS LICENCE_NO
      ,D.DOCTOR_NAME AS DOCTOR_NAME
      
FROM 
			MRECORDS MR
LEFT JOIN 
					DOCUMENT DO ON(MR.CARE_NO = DO.CARE_NO)
LEFT JOIN 
					MEMBER M ON(DO.USER_NO = M.USER_NO)
LEFT JOIN 
					DOCTOR D ON(MR.DOCTOR_NO = D.DOCTOR_NO)

WHERE M.USER_NO = ?
AND DO.CARE_NO= ?
AND DO.DOC_TYPE = ?
	
	
	</entry>
	
	
	
	<!-- 진단서 (승인|거절) 업데이트 -->
<entry key="yesNoUpdateByDiagnosis">
	
	UPDATE DOCUMENT 
SET DOC_CHECK = ?
WHERE CARE_NO = ?
AND DOC_TYPE = ?
	
	
</entry>


<!-- 진료실 해당 과 예약리스트 조회 -->
<entry key="selectRes">
SELECT 
     M.USER_NAME AS USER_NAME
    ,M.USER_DATE AS USER_DATE
    ,M.USER_NO AS USER_NO
    ,C.APPOINTMENT_NO AS APP_NO
    ,(SELECT COUNT(*)
        FROM CARE_APP
        WHERE CARE_STATUS = 'N') AS COUNT
    ,RPAD(SUBSTR(M.USER_SSN,0,8),14,'*') AS USER_SSN
    ,M.PHONE AS PHONE
    ,SUBSTR(M.ADDRESS, 1, INSTR(M.ADDRESS, ' ')) AS ADDRESS


FROM MEMBER M
LEFT JOIN CARE_APP C ON M.USER_NO = C.USER_NO
LEFT JOIN DOCTOR D ON C.DOCTOR_NO = D.DOCTOR_NO
WHERE C.CARE_STATUS = 'N'
AND D.DOCTOR_NO = ?


</entry>


<!-- 각 해당 진료실페이지인지 분류용 -->
<entry key="teatmentRoomGo">


SELECT 
		  USER_NAME
		  ,DEPT_NAME
FROM 
		 DOCTOR
JOIN MEMBER USING(USER_NO)
WHERE USER_NO= ?


</entry>

<!-- 진료기록 insert -->
<entry key="treatRoomInsert">


INSERT INTO 
MRECORDS 
(
CARE_NO

,APPOINTMENT_NO
,USER_NO
,DOCTOR_NO
,USER_NAME
,USER_SSN
,TREATMENT_DATE
,SYMPTOMS
,OPINION
,TREATMENT_CONTENT
,DIAGNOSIS_NAME
,DEPT_NAME
) 

VALUES
(
'ca'||SEQ_MNO.NEXTVAL

,? 
,? 
,? 
,? 
,(
	SELECT 
		USER_SSN
  FROM 
  		 MEMBER
  WHERE 
  		 USER_NO = ?
 )
,TO_DATE(SYSDATE,'RR/MM/DD')
,? 
,? 
,? 
,? 
,? 

)


</entry>

<!-- 진료 후 예약리스트 업데이트 -->
<entry key="resUpdate">

UPDATE CARE_APP
SET CARE_STATUS = 'Y'
WHERE APPOINTMENT_NO = ? 

</entry>




<!-- 진료기록페이지 검색 전체조회 -->
<entry key="selectAllmrecords">
SELECT 
      TEMP.USER_NO AS USER_NO,
      TEMP.USER_NAME AS USER_NAME,
      RPAD(SUBSTR(TEMP.USER_SSN, 1, 8), 14, '*') AS USER_SSN,
      TEMP.DEPT_NAME AS DEPT_NAME,
      TEMP.TREATMENT_DATE AS TREATMENT,
      TEMP.CARE_NO AS CARE_NO
FROM 
    (
	    SELECT 
	          ROW_NUMBER() OVER (ORDER BY M.USER_NO DESC) AS RNUM,
	          M.USER_NO,
	          M.USER_NAME,
	          M.USER_SSN,
	          MR.DEPT_NAME,
	          MR.TREATMENT_DATE,
	          MR.CARE_NO
	     FROM MRECORDS MR
	     JOIN MEMBER M ON M.USER_NO = MR.USER_NO
	     WHERE M.USER_NAME = ?
	     AND MR.DEPT_NAME = ?
	     AND MR.TREATMENT_DATE BETWEEN ? AND ?
     ) TEMP
WHERE RNUM BETWEEN ? AND ?
</entry>

<!-- 진료기록 검색 총 갯수조회 -->
<entry key="selectAllmrecordsCount">
SELECT COUNT(*) AS COUNT
FROM 
    MRECORDS MR
JOIN 
     MEMBER M ON M.USER_NO = MR.USER_NO
WHERE 
    M.USER_NAME = ?
AND MR.DEPT_NAME = ?
AND MR.TREATMENT_DATE BETWEEN ? AND ? 
</entry>






<!-- 진료기록 진단서 진료확인서 조회 -->
<entry key="selectMrecordsAllListSelect">



SELECT 
                 MR.USER_NAME as USER_NAME
                ,RPAD(SUBSTR(MR.USER_SSN,0,8),14,'*') AS USER_SSN
                ,MR.TREATMENT_DATE AS TREATMENT_DATE
                ,MR.SYMPTOMS AS SYMPTOMS
                ,MR.OPINION AS OPINION
                ,MR.TREATMENT_CONTENT AS TREATMENT_CON
                ,MR.DIAGNOSIS_NAME AS DIAGNOSIS_NAME
                ,M.ADDRESS AS ADDRESS
                ,D.LICENCE_NO AS LICENCE_NO
                ,D.DOCTOR_NAME AS DOCTOR_NAME
                
FROM MRECORDS MR
JOIN DOCTOR D ON(MR.DOCTOR_NO = D.DOCTOR_NO)
JOIN MEMBER M ON(D.USER_NO = M.USER_NO)
WHERE MR.USER_NO = ?
AND MR.CARE_NO = ?



</entry>
	
	
	<!-- (상우) 의사 계정 검색(이름, 사번, 진료과) -->
	<entry key="selectDoctor2">
	
	SELECT 
					DOCTOR_NO
				, DOCTOR_NAME
				, LICENCE_NO
				, DEPT_NAME
				, HIRE_DATE
				, USER_SSN
				, PHONE
				, ADDRESS
	FROM 
				DOCTOR
	JOIN  MEMBER USING (USER_NO)
	
	</entry>
	
	
	<!-- (상우) 진료과로 의사 목록 조회 ajax -->
	<entry key="selectDoctorBYDept">
	
	SELECT DOCTOR_NAME
	  FROM DOCTOR
	 WHERE DEPT_NAME = ? 
	        			
	</entry>
	
	
</properties>


