<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>


	<!-- (상우) 기업의 사원 검색 -->
	<entry key="selectEmployee">

	SELECT 
					COMP_NO
				, COMP_NAME
				, EMP_NO
				, EMP_NAME
				, SSN
	  FROM
	  			COMPANY 
	  JOIN  EMPLOYEE USING (COMP_NO)

	</entry>
	
	
	
	<!-- (상우) 기업의 사원 추가 -->
	<entry key="insertEmployee">

	INSERT
	  INTO 
	        EMPLOYEE
	  (
	  			SSN
	  		, EMP_NAME	
	  		, COMP_NO
	  		, EMP_NO
	  )
	 VALUES 
	 (
	 				?
	 			, ?
	 			, (SELECT COMP_NO FROM COMPANY WHERE COMP_NAME = ?)
	 			, ?
	 )				
	 		
	</entry>

</properties>