<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

<entry key="certificateApplicationInsert">

INSERT
  INTO 
      DOCUMENT
      (
        DOC_NUM
      , USER_NO
      , CARE_NO
      , DOC_TYPE
      , DOC_CHECK
      , DOC_PURPOSE
      , PRICE
      , APPLY_DATE
      )
VALUES
      (
       SEQ_DNO.NEXTVAL
      , ?
      , (
        SELECT CARE_NO
        FROM MRECORDS
        WHERE USER_NO = ?
        AND TREATMENT_DATE = TO_DATE(?, 'YYMMDD')   -- '240912'
       )
      , ?
      , 'R'
      , ?
      , 0
      , SYSDATE
      )


</entry>

<entry key="certificateApplicationSelect">

SELECT COUNT(*) AS COUNT -- count 0 일때 insert
  FROM DOCUMENT
 WHERE CARE_NO = (
                    SELECT CARE_NO
                    FROM MRECORDS
                    WHERE USER_NO = ?
                    AND TREATMENT_DATE = TO_DATE( ? , 'YYMMDD') 
                   )
                   
  AND DOC_TYPE = ?
  AND DOC_CHECK = 'R'


</entry>

<!--진료기록 select-->
<entry key="selectMrecords">
	SELECT 
	       TREATMENT_DATE
	     , DIAGNOSIS_NAME 
	  FROM MRECORDS
	 WHERE USER_NO = ?
	   AND TREATMENT_DATE BETWEEN ? AND ?
</entry>

<!-- 발급에 필요한 내용 셀렉 -->
<entry key="">
	SELECT 
	       DOC_NUM
	     , D.DEPT_NAME AS DEPT_NAME 
	     , DOC_PURPOSE
	     , APPLY_DATE
	     , LICENCE_NO 
	     , DOCTOR_NAME 
	  FROM DOCUMENT C
	  JOIN MRECORDS M
	    ON C.CARE_NO = M.CARE_NO
	  JOIN DOCTOR D
	    ON D.DOCTOR_NO = M.DOCTOR_NO	
</entry>


</properties>