<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="memberLogin">
		SELECT
						USER_NO
					, USER_ID
					, USER_PWD
					, USER_NAME
					, PHONE
					, EMAIL
					, ADDRESS
					, ENROLL_DATE
					, USER_TYPE
					, USER_SSN
					, CALLBACK_YN
					, RESIGN_YN
					, USER_DATE
					, USER_GENDER
					, REPRESENTATIVE	
			FROM
			  		MEMBER
		 WHERE
				   USER_ID = ?
		   AND USER_PWD = ?
		 	 AND USER_TYPE IN ('U','A','D')
		   AND RESIGN_YN = 'N'
	</entry>
	
	<entry key="updateMember">
		UPDATE
		       MEMBER
		   SET
		       USER_NAME = ?
		     , USER_DATE = ?
		     , USER_GENDER = ?
		     , PHONE = ?
		     , EMAIL = ?
		 WHERE 
		       USER_ID = ?		
	</entry>

<entry key="adminDoctorSelect">

SELECT 
			USER_TYPE
FROM 
		 MEMBER
WHERE 
			USER_ID = ?		

</entry>


	<entry key="selectMemberById">
		SELECT
		       USER_NO
		     , USER_ID
		     , USER_PWD
		     , USER_NAME
		     , PHONE
		     , EMAIL
		     , ADDRESS
		     , ENROLL_DATE
		     , USER_TYPE
		     , USER_SSN
		     , CALLBACK_YN     
		     , RESIGN_YN
		     , USER_DATE     
		     , USER_GENDER
		     , REPRESENTATIVE
		  FROM 
		       MEMBER
		 WHERE 
		       USER_ID = ?
	</entry>


	<entry key="updateMemberPwd">
		UPDATE
		       MEMBER
		   SET 
		       USER_PWD = ?
		 WHERE 
		       USER_ID = ?
		   AND USER_PWD = ?		
	</entry>
	
	<entry key="deleteMember">
		UPDATE
		       MEMBER
		   SET
		       RESIGN_YN = 'Y'
		 WHERE 
		       USER_ID = ?
		   AND USER_PWD = ?		
	</entry>
	
	<entry key="signUpAdultMember">
		 INSERT
		 	 INTO MEMBER
		 	 (
		 	   USER_NO
		 	 , USER_ID
		 	 , USER_PWD
		 	 , USER_NAME
		 	 , PHONE
		 	 , EMAIL
		 	 , ADDRESS
		 	 , ENROLL_DATE
		 	 , USER_TYPE
		 	 , USER_SSN
		 	 , CALLBACK_YN
		 	 , RESIGN_YN
		 	 , USER_DATE
		 	 , USER_GENDER
		 	 , REPRESENTATIVE
		 	 )
		 	 VALUES
		 	 (
		 	 	 SEQ_UNO.NEXTVAL
		 	 , ?
		 	 , ?
		 	 , ?
			 , ?
			 , ?
			 , NULL
			 , SYSDATE
			 , 'U'
			 , ?
			 , 'N'
			 , 'N'
			 , '920719'
			 , 'F'
			 , NULL
			 )
	</entry>


  <!-- (상우) 회원 이름으로 회원 검색 -->
	<entry key="selectByName">
		SELECT 
						USER_ID
					, USER_NAME
					, USER_SSN
					, ADDRESS
					, EMAIL
					, CALLBACK_YN
					, PHONE
					, ENROLL_DATE
		FROM 
					MEMBER
		WHERE 
					USER_NAME = ?
	</entry>
	
	
</properties>