<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	
	<!--증명서발급 결제-->
	<entry key="insertPayDocument">
		INSERT
		  INTO 
		       PAYMENT 
		       (
		       PAY_NO
		     , USER_NO
		     , DOC_NUM
		     , PAY_ID
		     , PRICE
		     , PG
		     )
		 VALUES
		      (
		      ?
		    , ?
		    , SEQ_DNO.CURRVAL
		    , ?
		    , '2000'
		    , ?
		      )		
	</entry>
	
	<entry key="insertPayCheckUp">
		INSERT
			  INTO 
			       PAYMENT 
			       (
			       PAY_NO
			     , USER_NO
			     , APPOINTMENT_NO
			     , PAY_DATE
			     , PAY_ID
			     , PRICE
			     , PG
			     )
			 VALUES
			      (
			      ?
			    , ?
			    , 'ch' || SEQ_CHN.NEXTVAL
			    , SYSDATE
			    , 'imp03551748'
			    , '50000'
			    , ?
			      )		
		
	
	</entry>
</properties>