<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<!-- -->
	<entry key="ComparisonMember">

SELECT 
         USER_ID
      ,  USER_TYPE
      ,  PHONE
      ,  USER_NAME
      ,  USER_SSN 
      
 FROM
        MEMBER
WHERE 
        PHONE = ?
  AND   USER_NAME = ?
  AND   USER_SSN = ?
  AND   USER_TYPE IN ('U')




</entry>

</properties>