<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<!-- -->
	<entry key="ComparisonMember">

SELECT 
         USER_ID
      ,  USER_TYPE
      ,  PHONE
      ,  USER_NAME
      ,  USER_SSN 
      
 FROM
        MEMBER
WHERE 
        PHONE = ?
  AND   USER_NAME = ?
  AND   USER_SSN = ?
  AND   USER_TYPE IN ('U')


</entry>

	<entry key="SSNBackNum">
SELECT 
     USER_ID  
 FROM 
      MEMBER
 WHERE
      SUBSTR(USER_SSN,8,13)  = ?
 </entry>

	<entry key="InsertCareApp">
	
	INSERT 
	    INTO CARE_APP
	    (   
	         APPOINTMENT_NO
	       , USER_NO
	       , DOCTOR_NO 
	       , APPOINTMENT_DATE
	       , APPOINTMENT_TIME
	       , CARE_STATUS
	       
	    ) 


	VALUES	
	    (
	         'cu'||SEQ_CAN.NEXTVAL
	       ,  ?
	       , (SELECT DOCTOR_NO
	       		FROM DOCTOR
	       		WHERE DOCTOR_NAME = ?)
	       , SYSDATE
	       , ?
	       , 'N'
	       
	    )	
	
	
	</entry>
	
	<entry key="SelectConsultation">
	
	SELECT 
        USER_NO
      , APPOINTMENT_DATE
  FROM 
        CARE_APP
 WHERE
        USER_NO = ?
    AND TRUNC(APPOINTMENT_DATE) = TRUNC(SYSDATE)
	
	
	</entry>

	<!--예약조회_보겸-->
	<entry key="selectCareAppList">
	SELECT
	       APPOINTMENT_NO
	     , APPOINTMENT_DATE
	     , APPOINTMENT_TIME
	     , USER_NAME
	     , DOCTOR_NAME
	     , DEPT_NAME 
	  FROM CARE_APP C
	  JOIN DOCTOR D
	    ON C.DOCTOR_NO = D.DOCTOR_NO
	  JOIN MEMBER M
	    ON C.USER_NO = M.USER_NO
	 WHERE C.USER_NO = ? 
	   AND CARE_STATUS = 'N'
	</entry>


</properties>